# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/client/node_modules
/client/.pnp
/client/.pnp.js

# testing
/client/coverage

# next.js
/client/.next/
/client/out/

# production
/client/build

# misc
/client/.DS_Store
/client/*.pem

# debug
/client/npm-debug.log*
/client/yarn-debug.log*
/client/yarn-error.log*
/client/.pnpm-debug.log*

# local env files
/client/.env*.local

# vercel
/client/.vercel

# typescript
/client/*.tsbuildinfo
/client/next-env.d.ts


# Server

# config files
/server/config/custom-environment-variables.ts
/server/config/default.ts
/server/config/production.ts
/server/config/test.ts

# dependencies
/server/node_modules
/server/.env
/server/src/sunday.ts
/server/src/utils/monday.ts


# testing
/server/coverage

# production
/server/build

# misc
/server/.DS_Store
/server/.env.local
/server/.env.development.local
/server/.env.test.local
/server/.env.production.local

/server/npm-debug.log*
/server/yarn-debug.log*
/server/yarn-error.log*
